body {
    background-color: #c0d3c9;
}
.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
}

.cell {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
button{
    background-color:#ebc9ea;
}
button:hover{
    color:#fffdfd;
    background-color:#744488;
}
.cell.clicked{
    background-color: lightblue;
}
.cell.close {
    background-color: lightgreen;
}

.cell.closer {
    background-color: yellow;
}

.cell.closest {
    background-color: red;
}
